.modal-footer {   border-top: 0px; }

#main2 {
	
	visibility:hidden; 
	padding-top: 15px; 
	background-repeat:no-repeat;
	background-position:50% 50%;
	padding-bottom: 15px; 
	
}


#resultText {
	padding-left: 20px;
	text-align: left;
	border-radius: 5px;
}

#main2  > a:hover{

	text-decoration:none;
	color: grey;
	
}


a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
	border-bottom: 0px solid
	
}


a.boxclose:hover{

	border-bottom: 0px solid
	
}


.boxclose:before {
    content: url(../img/close.png);;

}



h4 {
    font-size:18px;
    font-weight:bold;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}